:root {
  --white: #ffffff;
  --blue: #3089db;
  --aquamarine: #43c2d3;
  --grey: #a7bcbd;
  --darkerGrey: #a3a3a3;
  --lightGrey: #F0F0F0;
  --darkBlue: #526a87;
  --beigeWhite: #f2ebe2;
  --pastelRed: #fecdca;
  --boardHeight: 500px;
  --boardWidth: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--white);
}

.tic-tac-toe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 20px;
  gap: 20px;
}

.title__text {
  text-align: center;
  font-size: 70px;
  color: var(--darkBlue);
  font-family: 'Varela Round', sans-serif;
  margin-bottom: 20px;
}

.scores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 350px;
}

.scores__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
  font-family: 'Varela Round', sans-serif;
}

.scores__o-wins {
  color: var(--aquamarine);
}

.scores__x-wins {
  color: var(--blue);
}

.scores__draws {
  color: var(--grey);
}

.board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: var(--boardHeight);
  max-width: var(--boardWidth);
  justify-content: space-evenly;
}

.board__row {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  border-bottom: 2px solid var(--grey);
}

.board__row .board__square {
  border-right: 2px solid var(--grey);
}

.board__row .board__square:last-child {
  border-right: none;
}

.board__row--last {
  border-bottom: none;
}

.board__square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.board__square iconify-icon {
  font-size: 100px;
}

.board__square-x {
  color: var(--blue);
}

.board__square-o {
  color: var(--aquamarine);
}

.board__square:hover {
  cursor: pointer;
  background-color: var(--beigeWhite);
}

.board__square.board__square-x:hover {
  background-color: var(--pastelRed);
}

.board__square.board__square-o:hover {
  background-color: var(--pastelRed);
}

.player-turn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid var(--grey);
  border-radius: 20px;
  width: 100px;
  height: 30px;
}

.player-turn-x {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  width: 100%;
  height: 100%;
}

.player-turn-x iconify-icon {
  font-size: 20px;
}

.player-turn-o {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--aquamarine);
  width: 100%;
  height: 100%;
}

.player-turn-o iconify-icon {
  font-size: 20px;
}

.player-turn-x.player-turn--current {
  color: var(--white);
  background-color: var(--blue);
  border-radius: 500px;
  width: 120px;
}

.player-turn-o.player-turn--current {
  color: var(--white);
  background-color: var(--aquamarine);
  border-radius: 500px;
  width: 120px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 220px;
}

.controls__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  font-weight: 600;
  font-family: 'Varela Round', sans-serif;
  color: var(--darkBlue);
  background-color: var(--lightGrey);
  border: none;
  border-radius: 10px;
  width: 100px;
  margin-top: 20px;
}

.controls__button:hover {
  cursor: pointer;
  background-color: var(--beigeWhite);
}

@media only screen and (max-width: 350px) {
  .title__text {
    font-size: 50px;
  }
  .board__square iconify-icon {
    font-size: 70px;
  }
}

@media only screen and (max-width: 510px) {
  .title__text {
    font-size: 50px;
  }
  .board__square iconify-icon {
    font-size: 70px;
  }
}

@media only screen and (max-width: 450px) {
  .player-turn {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 450px) {
  .player-turn {
    margin-top: 40px;
  }
}

@media only screen and (max-height: 800px) {
  .tic-tac-toe-container {
    height: 700px;
  }
}
